.main-container {
  margin: 20vh 25vw;
}
.form {
  padding: 7vh 5vw;
  margin-bottom: 20px;
  background-color: rgb(238, 241, 246);
}
.form1 {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 0px;
}
.form2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 0px;
}
label {
  font-weight: 500;
  font-size: 15px;
}
.label-radio {
  margin-left: 10px;
  font-weight: 200;
  display: inline-block;
}
.input-radio {
  margin-left: 4vw;
  display: inline-block;
}
.input-field {
  margin-top: 6px;
  margin-bottom: 20px;
  border: none;
  width: 40vw;
  height: 30px;
  padding-left: 10px;
}
.input-last {
  margin-bottom: 0;
}
textarea {
  margin-top: 10px;
  border: none;
  width: 40vw;
  height: 100px;
  resize: vertical;
}
.checkbox-container {
  margin-top: 15px;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
}
.label-checkbox {
  font-weight: 300;
  margin-left: 10px;
  position: relative;
  bottom: 1px;
  display: inline-block;
}
button {
  background-color: rgb(15, 108, 188);
  margin: auto;
  width: 50vw;
  height: 5vh;
  color: white;
  border: none;
  font-size: large;
  border-radius: 30px;
  margin-bottom: 15px;
}
button:hover {
  position: relative;
  bottom: 5px;
  background-color: rgb(39, 129, 207);
}
.submission {
  position: relative;
  top: 25vh;
  margin: 0 25vw 0;
}
.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15vh 10vw;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

@media (max-width: 768px) {
  .input-radio,
  .input-checkbox {
    display: inline-block;
    margin-left: 0;
    margin-top: 10px;
  }

  .label-radio,
  .label-checkbox {
    display: inline-block;
    margin-left: 10px;
    margin-top: 0;
  }

  .form1,
  .form2 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .checkbox-container {
    grid-template-columns: 1fr;
  }

  .input-field,
  textarea,
  button {
    width: 95%;
  }
}
